.axis {
  font: 8px sans-serif;
}

html, svg, text {
  font-family: Roboto;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.tip {
  opacity: 0;
  transition: 0.2s opacity;
}

.tip:hover {
  opacity: 1;
}
